*{
	border:0;
	margin:0; 
	padding:0
}

html{ 
	margin: 10px 0px 10px 0px;
	background: white url(../img/fondo3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 15px;
	}

body{
	width:800px; 
	heigth: auto; 
	margin:auto;
	font-family: Franklin Gothic;
	}
	
header{
	width: 800px; 
	height: 160px; 
	background-color: white;
	border: blue 4px solid;
	border-radius: 15px 15px 0px 0px;
	}
	
main {
	width: 800px; 
	height: 680px;
	border: blue 4px solid;
	margin: 8px 0px 8px 0px;
	float: left;
	}

aside {
	width: auto; 
	height: 520; 
	float: left;
	overflow: auto;
	border-top-right-radius: 15px;
	}

footer{
	width: 800px;
	height: 150px;
	margin: 0px;
	float: left;
	background-color: white;
	border: blue 4px solid;
	border-radius: 0px 0px 15px 15px;
}

section{
	font-size: 20px;
}

#logoUnad {
	width: 190px; 
	height: 120px; 
	float: left;
	padding: 20px;
	border-top-right-radius: 20px;

}

#titulo {
	width: 390px; 
	height: 115px; 
	float: left;
	text-align: left;
	padding-top: 45px;
	background-color: #005883;
	font-size: 18px;
	font-variant: verdana;
}

#logoRedes {
	width: 180px; 
	height: 130px; 
	float: left;
}

#menu {
	width: 190px;
	height: 602px;
	margin: 5px;
	border: blue 4px solid;
	padding-right: 20px;
	padding-top: 60px;
	float: left;
	border-radius: 20px;
	list-style-type: none;
	list-style-image: none;
}

#intro {
	width: 480px;
	height: 622px;
	margin: 5px 20px 0px 30px;
	border: blue 4px solid;
	line-height: 25px;
	margin-bottom: 80px;
	float: left;
	border-radius: 20px;
	padding-top: 40px;
	
}

#contador{
	width: 180px;
	height: 140px;
	text-align: center;
	float: left;
	
}

#piepagina{
	width: 390px; 
	height: 25px; 
	text-align: left;
	float: left;
	margin-top: 50px;
	text-indent: 20px;
	
}

#lecturas{
	width: 480px;
	height: 622px;
	margin: 5px 20px 0px 30px;
	border: blue 4px solid;
	line-height: 25px;
	margin-bottom: 80px;
	float: left;
	border-radius: 20px;
	padding-top: 40px;
}

#multimedia{
	width: 480px;
	height: 622px;
	margin: 5px 20px 0px 30px;
	border: blue 4px solid;
	line-height: 25px;
	margin-bottom: 80px;
	float: left;
	border-radius: 20px;
	padding-top: 40px;
}

#actividades{
	width: 480px;
	height: 622px;
	margin: 5px 20px 0px 30px;
	border: blue 4px solid;
	line-height: 25px;
	margin-bottom: 80px;
	float: left;
	border-radius: 20px;
	padding-top: 40px;
}

#autores{
	width: 480px;
	height: 622px;
	margin: 5px 20px 0px 30px;
	border: blue 4px solid;
	line-height: 25px;
	margin-bottom: 80px;
	float: left;
	border-radius: 20px;
	padding-top: 40px;
}

#lista2{
	list-style-image: none;
	margin-left: 20px;
	font-family: angsana new;
}

#listanumerada{
	list-style-image: none;
}

#imagenestudiante{
	margin: 20px;
	width: 140px;
	height: 110px;
}

#opciones{
	margin: 0px;
}

#submenu{
	list-style-image: none;
	margin: 0px;
	font-size: 12px;
}

.twitter-timeline{
	margin-left: 10px;
	width: 18px;
	height: 320px;
	border-radius: 10px;
	border: rgb(15, 20, 10);
	border-color: blue;
	float: left;
	margin-top: 20px;
}

h1{
	text-align: center;
}

h2{
	margin-left: 20px;
}

p{
	text-align: justify;
	margin: 10px 25px 10px 25px;
	font-size: 15px;
	font-family: angsana new;
	float: left;
}

h4{
	margin: 10px 25px 10px 25px;
	font-size: 15px;
	font-family: angsana new;
	float: left;
}

h5{
	margin-left: 20px;
}

li{
	margin-left: 25px;
	list-style-image: url(../img/viñeta.png);
	list-style-position: inside;
}

a{
	color: black;
}

ol{
	text-align: justify;
	margin: 15px 25px 10px 30px;
	font-size: 15px;
	font-family: angsana new;
	list-style-position: outside;
}

ul{
	text-align: justify;
	margin: 15px 25px 10px 30px;
	font-size: 15px;
	font-family: angsana new;
	list-style-position: outside;
}

iframe{
	margin-left: 25px;
	width: 380px;
	height: 240px;
	float: center;
}